*{
    margin: auto;
    padding: 0;
}


/* TODAS LAS PAGS */ 
.barraBusqueda input {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: #AD8B73 solid 2px;
  }

body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    background-color: #E3CAA5;
    grid-template-rows: repeat(1fr 1fr 2fr 1fr);    
    max-width: 1000px;
    margin: auto;
}

header,
nav{
    background-color: #AD8B73;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    align-items: center;
    padding-top: 5px;
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li a{
    text-decoration: none;
    color: #E3CAA5;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #f1d9b5;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
.menu{
    display: none;
}
.submenuProductos{
    display: none;
    position: absolute;
}
.submenuProductos li{
    display: block;
    background-color: rgb(173, 139, 115, 0.8);
    margin: 0;
    width: 80px;
    height: 20px;
    color: #E3CAA5;
}
.navProductos:hover ol{
    display: block;
}
/* INDEX */

/*                  SLIDER                  */
.container{
    margin: auto;
    padding: 0;
    max-width: 1000px;
    margin-top: 1rem;
  }
  
  .container ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  .container li {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
  ul.slider{
    position: relative;
    width: 1000px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  .slider img{
    max-width: 1000px;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu-slider{
    text-align: center;
    margin: 20px;
    max-width: 1000px;
  }
  
  .menu-slider li{
    display: inline-block;
    text-align: center;
    margin: 0.5rem 0;
  }
  
  .menu-slider li a{
    display: inline-block;
    text-decoration: none;
    background-color: #AD8B73;
    padding: 10px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
  }
.sub-productos{
    text-align: center;
    color: #E3CAA5;
    background: rgb(227,202,165);
    background: linear-gradient(90deg, rgba(227,202,165,0.87) 0%, rgba(173,139,115,1) 50%, rgba(227,202,165,0.865983893557423) 100%);
    margin-bottom: 1rem;
}
.ultimos-productos{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.card{
    border: 3px #ad8b73e8 solid;
    border-radius: 5px;
    height: 410px;
    width: 270px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.cardTitle{
    text-align: center;
}
.cardPrice{
    margin-top: 5px;
    text-align: center;
    color: #E3CAA5;
    background: rgb(227,202,165);
    background: linear-gradient(90deg, rgba(227,202,165,0.87) 0%, rgba(173,139,115,1) 50%, rgba(227,202,165,0.865983893557423) 100%);
    font-size: 1.3rem;
}
p.cardPrice {
    margin-bottom: 0;
}
.containerImage{
    height: 230px;
    width: 200px;
    overflow:hidden
}
	
.containerImage:hover img {
    transition:all .4s ease-in-out;
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    cursor: pointer;
}

.containerImage img{
    height: 230px;
    width: 200px;
}
/* NOSOTROS */
.mainNosotros{
    margin: 10px 0px 10px 10px;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.nosotrosP,
.nosotrosImage{
    margin: 10px 0px 10px 0px;
}
.nosotrosImage{
    max-width: 400px;
    grid-area: img;
    margin: auto;
}
.containerNosotrosP{
    width: 400px;
    grid-area: texto;
    margin: auto;
}
/* CONTACTO */
.contacto{
    margin-left: 10px;
}
.bloque {
    display: block;
}
.contactoFormulario,
.contactoSubtitulo {
    margin: 10px 0px 10px 0px;
}
.contactoFormulario label{
    margin-top: 10px;
}
.contactoFormulario textarea,
.contactoFormulario input{
    border-radius: 5px;
    border: #AD8B73 1px solid;
    width: 500px;
}
.formularioMensaje{
    resize: none;
    height: 110px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alturaInput{
    height: 30px;
}
/* LOGIN */
.registro,
.inicio-sesion{
    width: 50%;
    margin-left: 5px;
}
.inicio-sesion button,
.registro button,
.botonContacto{
    border-radius: 5px;
    border: #AD8B73 1px solid;
    color: black;
    height: 30px;
    width: 90px;
    margin-top: 10px;
}
.inicio-sesion button:hover,
.registro button:hover,
.botonContacto:hover{
    cursor: pointer;
}
.inicio-sesion label,
.inicio-sesion button{
    display: block;
    margin-top: 10px;
}
.inicio-sesion form input{
    border-radius: 5px;
    border: #AD8B73 1px solid;
    width: 400px;
    height: 20px;
}

/*PRODUCTOS*/
.div-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.margen-p{
    margin: 0.5rem 0;
}

/* TODAS LAS PAGS */
footer{
    background-color: #AD8B73;
    width: 100%;
    margin: auto;
    bottom: 0;
    text-transform: uppercase;
}
.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*
.footerAbajo{
    position: fixed;
    bottom: 0;
}
*/
footer ul{
    margin: 0 auto;
    padding: 0;
}
footer ul li{
    list-style-type: none;
    margin: 3px;
}

footer ul li a{
    text-decoration: none;
    color: #E3CAA5;
    font-size: 18px;
}
footer ul li a:hover{
    color: #f1d9b5;
}
.footer-redes{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.redes img:hover {
    transform: rotate(360deg);
}
.redes img {
    transition: all 1s ease-in-out;
}
.sinMargenAbajo{
    margin-bottom: 0;
}

.logo-rotacion:hover{
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    cursor: pointer;
} 
*{
    box-sizing: content-box;
}

@media (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .menu{
        display: flex;
    }
    .menu .btn{
        color: #AD8B73;
        background: #AD8B73;
        border: none;
    }
    .barraBusqueda,
    .login,
    .carrito  {
        display: none;
      }
    header,
    nav{
        background-color: #AD8B73;
        width: 100%;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-bottom: 5px;
    }
    header div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav{
        display: none;
    }

    /* INDEX */
    ul.slider{
        margin: auto;
        width: 350px;
    }
    .slider img{
        margin: auto;
        max-width: 350px;
    }
    .menu-slider ul {
        margin: auto;
        max-width: 350px;
    }
    .ultimos-productos{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .card{
        border: 3px #ad8b73e8 solid;
        border-radius: 5px;
        height: 270px;
        width: 250px;
        padding: 20px;
        margin: 40px;
    }
    article.card {
        box-sizing: content-box;
    }
    .containerImage{
        height: 210px;
        width: 230px;
    }
    .containerImage img{
        max-width: 100%;
        max-height: 100%;
    }
    /* PRODUCTOS */
    .div-productos{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }
    .margen-p{
        margin: 0.5rem 0;
    }
    .descripcion{
        display: none;
    }
    article.card.margen-p {
        box-sizing: content-box;
    }
    /* NOSOTROS */
    .mainNosotros{
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    main img{
        width: 80%;
        margin: auto;
    }
    .nosotrosP,
    .nosotrosImage{
        padding: 10px;
    }
    .nosotrosImage{
        max-width: 300px;
        margin: auto;
    }
    .containerNosotrosP{
        width: 300px;
        margin-top: 5px;
    }
    
    /* TODAS LAS PAGS */
    footer{
        background-color: #AD8B73;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .containerFooter{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .logo-rotacion{
        display: none;
    }
    footer img{
        margin: auto;
    }
    footer ul{
        margin: auto;
    }
    .footerAbajo{
        position: absolute;
        bottom: 0;
    }
    .footer-redes{
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 0;
    }
    footer ul li{
        list-style-type: none;
        margin: 3px;
    }
    footer ul li a{
        text-decoration: none;
        color: #E3CAA5;
        font-size: 18px;
    }
    .sinMargenAbajo{
        margin-bottom: 0;
    }
    *{
        box-sizing: border-box;
    }
    }